@import "http://fonts.googleapis.com/css?family=Share+Tech";

* {
  font-family: "Share Tech";
  font-size: 12px;
  list-style: none
}

html, body {
  height: 100%
}

.btn:active {
  position: relative;
  top: 1px
}

.btn.submit {
  height: 28px
}

input {
  background-color: #fff;
  transition: background-color 1s
}

.warning input[type=text] {
  background: rgba(196, 9, 9, 0.16);
  transition: background-color .25s
}

.chart-wrapper {
  display: none;
  float: left;
  width: 100%;
  height: 100%;
}

.canvas-chart {
  width: 100%;
  height: 100%;
}

.chart-wrapper h1 {
  text-align: center;
  font-size: 19px;
  color: #fff;
  margin: 19px 0 9px;
}

#form-wrapper {
  width: 50%;
  float: left;
  height: 100%
}

.winner {
  display: none;
  float: left;
  width: 33.3%;
  margin-top: 125px;
  text-align: center
}

.metrics-0, .metrics-1 {
  width: 33.3%;
  float: left;
  margin-top: 125px;
  text-align: center
}

.metrics-0 span, .metrics-1 span {
  color: #96c8e5
}

.metrics-0 ul, .metrics-1 ul {
  padding-left: 0
}

.top {
  width: 100%;
  display: inline-block
}

h2 {
  font-size: 46px;
  line-height: 0;
  padding: 0;
  margin: 32px 0
}

.winner span {
  color: #96c8e5;
  font-size: 19px;
  font-weight: 700
}

.charts {
  display: inline-block
}

.loader {
  background: url(../loading.gif) 50% 50% no-repeat;
  width: 100%;
  background-size: 138px 17px;
  height: 49%;
  position: absolute;
  top: 29%;
  display: none
}

/* Dashboard Styles */
body {
  margin: 0;
  background: url(../img/input-bg.png);
  color: #fff
}

[class*='col-'] {
  float: left;
  height: 100%
}

.col-2-3 {
  width: 84.66%;
  box-shadow: rgba(0, 0, 0, 0.8) 6px -5px 32px
  /*
    border-left: 1px solid grey;
    box-sizing: border-box;
  */
}

.col-1-3 {
  width: 15.33%;
  background-color: #545454;
  background: #373737 url(../img/input-bg.png) 0 0 repeat
}

.grid:after {
  content: "";
  display: table;
  clear: both
}

.col-2-3 .top {
  height: 50%
}

.col-2-3 .bottom {
  height: 50%;
  overflow: scroll
}

.col-2-3 .top .left {
  background: #373737 url(../img/input-bg.png) 0 0 repeat;
  width: 50%;
  height: 100%;
  float: left;
  border-bottom: 1px solid grey;
  padding-top: 65px;
  position: relative
}

.col-2-3 .top .right {
  width: 50%;
  height: 100%;
  float: left;
  padding-top: 65px;
  border-bottom: 1px solid grey;
  box-shadow: rgba(162, 162, 162, 0.8) -1px 0 0;
  background: #373737 url(../img/input-bg.png) 0 0 repeat;
  position: relative
}

.col-1-3 .top {
  height: 75%;
  background-color: #949494;
  background: #373737 url(../img/input-bg.png) 0 0 repeat
}

.col-1-3 .top > div {
  padding-top: 80px;
  overflow-y: scroll;
  padding: 0 10px;
  height: 98%;
  border-bottom: #8a8a8a 1px solid
}

.col-1-3 .mid {
  float: left;
  height: 25%;
  background: #373737 url(../img/input-bg.png) 0 0 repeat;
  padding: 0;
  width: 100%;
  overflow: scroll
}

.col-1-3 .bottom {
  height: 10%;
  background: #373737 url(../img/input-bg.png) 0 0 repeat
}

.col-1-3 .bottom .button {
  height: 100%;
  width: 50%;
  float: left
}

.add-button {
  text-align: center
}

.delete-button {
  text-align: center
}

#header {
  background: #191919 url(../img/header.png) repeat-x;
  width: 100%;
  height: 65px;
  top: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 32px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 32px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 17px;
  text-align: center;
  z-index: 999;
  position: absolute;
  background-size: auto 100%;
  background: #373737 url(../img/input-bg.png) 0 0 repeat
}

#header p {
  font: bold 14px/64px 'Share Tech', Helvetica, Arial;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
  font-size: 2em;
  margin-top: 0
}

form div label {
  color: #cacaca;
  text-shadow: 0 -1px 0 #000;
  border-color: #2e2e33 #080808 #121212;
  padding: 3% 0 3% 5%;
  font-weight: 100;
  width: 90%;
  display: inline-block;
  text-align: left
}

form {
  margin: 0
}

input[type=text] {
  padding: 0 10px;
  height: 25px;
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  margin-bottom: 10px;
  outline: none;
  width: 100%
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #353535
}

::-webkit-scrollbar-thumb {
  background: #676767;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB
}

::-webkit-scrollbar-corner {
  background: none;
}

#submit, .btn-add, .btn-delete {
  position: relative;
  z-index: 2;
  width: 44%;
  height: 25px;
  padding: 0 0 35px;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  outline: 0;
  float: left;
  margin-left: 3%
}

.btn-add, .btn-delete, .button {
  width: 20%;
  float: left;
  transition: .25s all
}

#submit {
  transition: .25s all
}

.btn-add:hover, .btn-delete:hover, #submit:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(110, 152, 200, 0.71)
}

#submit:before, .btn-add:before, .btn-delete:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #00a2d3;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(top, #6B6B6B, #2E2F30);
  background-image: -moz-linear-gradient(top, #6B6B6B, #2E2F30);
  background-image: -o-linear-gradient(top, #6B6B6B, #2E2F30);
  background-image: linear-gradient(to bottom, #6B6B6B, #2E2F30);
  -webkit-box-shadow: inset 0 0 0 1px #03151B, 0 0 0 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px #03151B, 0 0 0 5px rgba(0, 0, 0, 0.16)
}

#submit:after, .btn-add:after, .btn-delete:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 23%;
  width: 90px;
  height: 19px;
  background: url(../img/arrow.png) 0 0 no-repeat;
  background-size: 65px 15px
}

.btn-add:after, .btn-delete:after {
  top: 9px
}

.btn-add, .btn-delete {
  width: 19%;
  height: 0;
  border-radius: 10px
}

.btn-add:after {
  background: url(../img/plus.png) 0 0 no-repeat;
  left: 33%
}

.btn-delete:after {
  background: url(../img/minus.png) 0 0 no-repeat;
  left: 33%
}

.mid input[type=text] {
  margin-left: 4%;
  width: 87%
}

.top > div > .input-line:first-child {
  margin-top: 80px
}